* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    background:  hsl(233, 47%, 7%);
}
#card {
    background-color:hsl(244, 38%, 16%);
    border-radius: 10px;
    width: 70%;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}
#part_text {
    width: 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    color:hsla(0, 0%, 100%);
}
.title_color {
    color:  hsl(277, 64%, 61%);
}
.text_description {
    font-size: 14px;
    line-height: 25px;
}
.text_number {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.number {
    font-size: 20px;
    font-weight: 700;
    color:hsla(0, 0%, 100%);
    margin-bottom: 10px;
}
.number_add {
    font-size: 10px;
    text-transform: uppercase;
}
#part_img {
    width: 50%;
    border-radius: 0px 10px 10px 0px;
    background-color: hsl(277, 64%, 61%);
}
#img_header_desktop {
    width: 100%;
    height: 100%;
    border-radius: 0px 10px 10px 0px;
    opacity: 0.4;
}
#img_header_mobile {
    display: none;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media screen and (max-width: 375px) {
    #card {
        flex-direction: column-reverse;
        width: 90%;
        text-align: center;
    }
    #part_text {
        width: 100%;
    }
    h1 {
        margin-bottom: 20px;
    }
    .text_description {
        margin-bottom: 30px;
        line-height: 25px;
    }
    .text_number {
        flex-direction: column;
        justify-content: space-between;
    }
    .number_add {
        margin-bottom : 20px;
    }
    #part_img {
        width: 100%;
        border-radius: 10px 10px 0px 0px;
    }
    #img_header_desktop {
        display: none;
    }
    #img_header_mobile {
        display: inline;
        width: 100%;
        height: 100%;
        border-radius: 10px 10px 0px 0px;
        opacity: 0.4;
    }
}
